@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
    
}

table, tr, td{
    margin: 0 auto;
    border: solid 1px rgb(218, 203, 203);
    border-collapse: collapse;
}

td{
    text-align: center;
    height: 50px;
    width: 70px;
    padding: 10px;
}

td p{
    margin: 0 auto;
    font-size: 2rem;
}

.font-text{
    font-weight: bolder;
}

.color-text{
    color:orange;
}